<div class="header-wrapper">
  <nav class="navbar">
    <div class="container-fluid custom-container">
      <!-- LEFT -->
      <a class="navbar-brand" href="#">
        <div class="logo-image">
          <img src="assets/qblogo1.jpeg" alt="Queen Bee" />
        </div>

        <div class="logo-content">
          <h1>Queen Bee</h1>

          <span> Women's Essentials </span>
        </div>
      </a>

      <!-- RIGHT -->
      <div class="header-right">
        <!-- SEARCH -->
        <div class="search-container">
          <!-- Search Icon -->
          <button class="search-toggle" (click)="showSearch = true">
            <i class="bi bi-search"></i>
          </button>
        </div>

        <!-- PHONE -->
        <!-- <a href="tel:+917510552532" class="icon-btn">
          <i class="bi bi-telephone"></i>
        </a> -->

        <!-- INSTAGRAM -->
        <a
          href="https://www.instagram.com/queen_bee_by_aswathisreejin/"
          target="_blank"
          class="icon-btn"
        >
          <i class="bi bi-instagram"></i>
        </a>

        <!-- WHATSAPP -->
        <a
          href="https://wa.me/918113874000?text=Hello%20QueenBee"
          target="_blank"
          class="icon-btn"
        >
          <i class="bi bi-whatsapp"></i>
        </a>
      </div>
    </div>
  </nav>
</div>

<div class="search-modal" *ngIf="showSearch">
  <div class="search-top">
    <input
      type="text"
      placeholder="Search products..."
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
    />

    <button class="close-btn" (click)="showSearch = false">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>

  <div class="search-body">
    <!-- Products -->
    <div class="product-results">
      <div
        class="product-card"
        *ngFor="let product of products"
        [routerLink]="['/product', product.id]"
        (click)="showSearch = false"
      >
        <img [src]="product.image" />

        <div>
          <h6>{{ product.name }}</h6>
          <p>₹{{ product.price }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
